<section class="maintext">
<h1>About Author</h1>
<table width="800">
	<tr>
		<td><%=image_tag("Xiaoyang_Pic.png",:alt=>"author pic")%></td>
		<td></td>
		<td><b><i>Xiaoyang Ruan</i></b> Ph.D</br>
		    PostDoc Research Fellow</br>
		    Health Science Research</br>
		    Mayo Clinic, Rochester, MN</br>	
		</td>
	</tr>
</table>
<h1>Author Experience</h1>
<ul>
	<li>2011-now  PostDoc, Health Science Research, Mayo Clinic, Rochester, MN</li>
	<li>2010-2011 PostDoc, Department of Biostatistics, Bioinformatics and Biomath, Medical Center, Georgetown University. Washington DC. US</li>
	<li>2010-2011 Special Volunteer, National Cancer Institute, National Institute of Health. Washington DC. US</li>
	<li>2005-2009 M.D.-Ph.D. (Joint-Training) Lab of Human Genetics, Beijing Hypertension League Institute. Beijing. China</li>
	<li>2004-2005 M.D.-Ph.D. Department of Microbiology and Biochemistry, School of Life Science and Biopharmacy, Shenyang Pharmaceutical University. Shenyang. China</li>
	<li>2000-2004 B.D. School of Pharmacy, Shenyang Pharmaceutical University. Shenyang. China</li>
</ul>
</section>
