<section class="maintext">
<h1>NCI-60 Cancer Cell Lines</h1>
<p><a href="#ref1">NCI-60</a> was developed as an anticancer drug screen panel by the US National Cancer Institute (NCI), <a href="http://dtp.nci.nih.gov/">Developmental Therapeutics Program</a>. It contains 60 Caucasian tumor cell lines from brain (BR), central nervous system (CNS), colon (CO), lung (LC), white blood cell (LE), melanocyte (ME), ovary (OV), prostate (PR) and renal (RE). Detailed information about NCI-60 is available at <a href="http://discover.nci.nih.gov">CellMiner</a> website.</p> 



<%10.times do |t|%>
</br>
<%end%>


<ul>
	<li><a name="ref1">Shoemaker, R. H., The NCI60 human tumour cell line anticancer drug screen, Nat.Rev.Cancer 2006.</a></li>
</ul>
