/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#bodystyle {
	background:	cyan;
	width:		900px;
	margin-left:	auto;
	margin-right:	auto;
	}

#footerstyle{
	background:	white;
	width:		900px;
	text-align:	center;
	margin-left:	auto;
	margin-right:	auto:
	}

#centerimg{
	text-align:	center;
	}

.maintext {
	width:		850px;
	margin-left:	auto;
	margin-right:	auto;
	}

footer li {
	display:	inline-block;
}




